# Insert relevant keys for deployment
DEPLOYER_PRIVATE_KEY=<insert private key in form 0x...>
GENESIS_GOVERNANCE_PRIVATE_KEY=<insert private key in form 0x...>
GOVERNANCE_PRIVATE_KEY=<insert private key in form 0x...>
COSTON_PRIVATE_BETA_RPC=http://127.0.0.1:9650/ext/bc/C/rpc