# Copy this example to .env and modify accordingly
# Private key of signing account to send transactions (only calls will be made...no gas expended)
MONITOR_PRIVATE_KEY=<insert private key>
# Insert RPC endpoint - for example http://host.docker.internal:9650/ext/bc/C/rpc
ENDPOINT=<insert RPC URL>
CHAINID=<chain id of chain to monitor>
SMARTCONTRACTS_FILE=<json file of deployed contract addresses - file only, not directory>
DEPLOYMENT_DIRECTORY=<local directory containing deployment contract files - will be mapped into container>
SC_PG_INT_KEY=<Pagerduty integration key - see https://support.pagerduty.com/docs/generating-api-keys>
SC_SLACK_CHANNEL=<Slack channel to receive alerts>
SC_SLACK_TOKEN=<Slack bot token with authorization to send alerts to channel - see https://api.slack.com/authentication/token-types>
SC_SLACK_CHANNEL_WEBHOOK=<API URL for Slack to send posts>